<div class="container center_div">
    <div class="row">
        <h3>Designed by: </h3>
        <div class="col-md-4">
            <p>Thodoris Paparrigopoulos el18040</p>
            <a href="">paparrigopoulosthodoris@gmail.com</a>
        </div>
        <div class="col-md-4">
            <p>Despoina Grammenou el18066</p>
            <a href="">dgrammenou@yahoo.com</a>
        </div>
        <div class="col-md-4">
            <p>Orfeas Filippopoulos el18082</p>
            <a href="">orfeasfil2000@gmail.com</a>
        </div> 
    </div>

    <hr style="margin-top: 20px; margin-bottom: 20px;">
    <div class="row">
        <ul>
            <li>
                <p>The ui was developped in the Angular Framework</p>
            </li>
            <li>
                <p>The backend was written in python using Flask Framework</p>
            </li>
            <li>
                <p>Our database was setup in MySQLWorkBench</p>
            </li>
        </ul>
        
    </div>
</div>