<div class="container">
  <div class="col">
    <div class="row age"> 
      <label for="age">Age Group</label>
      <select (change)="onChange($event.target.value)"
      style="width: 20%;" 
      id="age" name="age"> 
      <option value="0"> </option>
      <option value="1">20-40</option>
      <option value="2">41-60</option>
      <option value="3">61+</option> 
    </select>
    </div>
    <div class="row type"> 
      <label for="type">Diagram type</label>
      <select (change)="onChange2($event.target.value)"
      style="width: 20%;" 
      id="type" name="type"> 
      <option value="0"> </option>
      <option value="1">Sells per room</option>
      <option value="2">Sells per service</option>
      <option value="3">Services with most visits</option> 
    </select>
    </div>
  </div>
   <div class="col">
     <app-graph></app-graph>
   </div>
</div>
 