<div class="container">
    <div class="row text-center" style="margin-top: 15px;"> 
        <div class="col-4">
            <div class="card text-center" style="width: 18rem;">
                <div class="card-body">
                    <div class="card-title"><h3>Track Visits</h3></div>
                    <form class="card-text" [formGroup]="trackVisitsForm" (ngSubmit)="onSubmit()">
                        <div class="form-group date">
                            <label for="date">Date </label>
                            <input formControlName="date" type="date" id="date" name="date">
                        </div> 
                        <hr>
                        <div class="form-group">
                            <label for="services-list">Service</label>
                            <select class="" aria-label="Default select example" style="width: 55%;" 
                                id="services-list" name="services-list" formControlName="service">  
                                <option *ngFor="let s of services_list; let i=index" value="{{i}}">{{s}}</option>
                            </select>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label for="cost">Cost</label>
                            <select aria-label="Default select example" style="width: 20%;" 
                                id="sign" name="sign" formControlName="sign">   
                                <option value="0"></option>
                                <option value="1">></option>
                                <option value="2"><</option>
                                <option value="3">=</option>
                                <option value="4">>=</option>
                                <option value="5"><=</option>
                            </select>
                            $
                            <input formControlName="cost" type="number" id="cost" name="cost" style="width: 50%;" min="0">
                        </div>
                        <button type="submit" class="btn btn-success">Search</button>
                    </form>
                </div> 
            </div>
        </div>
         <div class="col-7" *ngIf="results.length > 0">  
            <div class="card text-center">
                <div class="card-body">
                    <div class="card-title"><h3>Results</h3></div>
                    <div class="card-text">
                        <div class="row">
                            <div class="col">
                                <h5>Service</h5>
                            </div>
                            <div class="col">
                                <h5>First Name</h5>
                            </div>
                            <div class="col">
                                <h5>Last Name</h5>
                            </div>
                            <div class="col">
                                <h5>Arrival Time</h5>
                            </div>
                            <div class="col">
                                <h5>Departure Time</h5>
                            </div> 
                        </div> 
                        <app-visit *ngFor="let r of results;" [person]="r" style="margin-bottom: 7px;"></app-visit>
                        
                    </div>
                </div>
            </div>
         </div>
    </div>
</div>
    