<div class="container">
    <div class="row text-center">
        <h3>Covid Service List Report</h3>
    </div>
    <div class="row text-center">
        <div class="card text-center" style="width: 50%; margin-left: 25%;">
            <div class="card-body">
                <div class="row"> 
                    <div class="col">
                        <h5>Date</h5>
                    </div>
                    <div class="col">
                        <h5>Service</h5>
                    </div>
                </div>
                <app-location *ngFor="let loc of locations" [location]="loc"></app-location>
            </div>
        </div>
    </div>
</div>