 
<div class="container center_div">
    <div class="row"> 
        <form class="fadeIn first" [formGroup]="registerForm" (ngSubmit)="onSubmit()" style="margin-top: 10px; margin-bottom: 10px;">
            <div class="form-group">
                <input formControlName="firstName" type="text" id="firstName"  name="firstName" placeholder="First Name"> 
            </div>
            <div class="fadeIn second" class="form-group">
                <input formControlName="lastName" type="text" id="lastName"  name="lastName" placeholder="Last Name"> 
            </div>

            <!-- <div class="form-group">
                <input formControlName="email" type="email" id="email"  name="email" placeholder="email"> 
            </div>

            <div class="form-group">
                <input formControlName="age" type="number" id="age"  name="age" placeholder="age"> 
            </div>

            <div class="form-group">
                <input formControlName="first" type="text" id="first"  name="login" placeholder="first name"> 
            </div> -->

            <div class="form-group">
                <input class="fadeIn third" formControlName="username" type="text" id="login" class="fadeIn second" name="login" placeholder="username">
            </div>

            <div class="form-group">
                <input class="fadeIn forth" formControlName="password" type="password" id="password" class="fadeIn third" name="login" placeholder="password">
            </div> 
            
            <button 
                type="submit" 
                class="fadeIn fourth btn btn-success fadeIn forth"  
                style="margin-top: 15px; margin-left: 19% ; width: 50%;"
            >Sign up</button>    
        </form>  
    </div> 
</div>

   